{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-mixed-operators": "warn",
    "max-len": ["warn", 100],
    "semi": ["error", "never"],
    "arrow-body-style": "warn",
    "object-curly-spacing": ["warn", "never"],
    "object-curly-newline": "off",
    "consistent-return": "warn",
    "global-require": "warn",
    "no-unused-expressions": "off",
    "no-unused-vars": "warn",
    "no-return-assign": "warn",
    "no-underscore-dangle": "warn",
    "no-console": "warn",
    "import/first": "off",
    "no-confusing-arrow": "off",
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "import/no-named-as-default": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}